p{
    font-family:'Raleway';
    font-weight: 300;
}
.wp-block-columns.has-white-background-color.has-background.is-layout-flex.wp-container-7 {
    margin: 0;
}

.shop-card{
    text-align: center;
    padding: 20px 0;
}
.coupon {
    position: relative;
    border: solid 1px #9a7cbd;
    height: 30px;
    width: 140px;
    margin: auto;
    border-radius: 8px;
}
.coupon::before{
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    width: 30px;
    height: 33px;
    background-image: url("./images/cupon.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.phone{
    position: relative;
    width: 140px;
    margin: auto;
}
.phone::before{
    content: "";
    position: absolute;
    top: -5px;
    left: 0;
    width: 30px;
    height: 30px;
    background-image: url("./images/phone.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.phone::after{
    content: "";
    position: absolute;
    top: 19px;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url("./images/shadow.png");
    background-size: cover;
    background-repeat: no-repeat;
}
/* login */
.login-group{
  display: flex;
  align-items: center;
}
.btn{
  font-family: "Poppins";
  font-size: 12px;
  font-weight: bold;
  background-color: #9a7cbd;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.15);
  color: white;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 30px;
  text-transform: uppercase;
  caret-color: transparent;
}
.login-welcome{
  position: relative;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("./images/signupbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.15);
}
.login-welcome h2{
  font-family: "Poppins";
  font-weight: bold;
  font-size: 24px;
  color: white;
  caret-color: transparent;
}
.login-welcome p{
  font-family: "Poppins";
  font-size: 14px;
  color: white;
  caret-color: transparent;
}

.login-form {
    width: 300px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 60px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.15);
    position: relative;
    margin-left: -40px;
    z-index: 99;
    background-color: white;
}
.login-btn{
  position: relative;
}
.login-btn::before{
  content: '';
  position: absolute;
  top: 15px;
  left: 120px;
  background-image: url("./images/loginicon.png");
  width: 20px;
  height: 15px;
  background-size: cover;
  background-repeat: no-repeat;
}
.rfgroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0px;
}
  .input-group {
    position: relative;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .input-group h2 {
    font-family: "Poppins Black";
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 0px;
    text-align: center;
    color: #464646;
    text-decoration: underline;
  }
  
  .input-group input {
    width: 100%;
    padding: 15px 10px 15px 50px;
    box-sizing: border-box;
    border: none;
    border-left: solid 2px #9a7cbd;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.15);
    margin-bottom: 0!important;
  }
  .input-group input:focus-visible{
    outline: none;
    border-left: solid 2px #9a7cbd;
  }
  .emailbox{
    position: relative;
  }
  .emailbox::before {
    content: '';
    position: absolute;
    top: 15px;
    left: 15px;
    background-image: url("./images/emailicon.png");
    width: 20px;
    height: 15px;
    background-size: cover;
    background-repeat: no-repeat;
}
.emailbox::after{
  content: '';
  position: absolute;
  top: 15px;
  left: 43px;
  height: 15px;
  border-right: solid 1px #646262;
}
.passwordbox::before {
  content: '';
  position: absolute;
  top: 15px;
  left: 15px;
  background-image: url("./images/passwordicon.png");
  width: 20px;
  height: 15px;
  background-size: cover;
  background-repeat: no-repeat;
}
.passwordbox::after{
  content: '';
  position: absolute;
  top: 15px;
  left: 43px;
  height: 15px;
  border-right: solid 1px #646262;
}
.checkbox {
    display: flex;
    align-items: center;
    font-family: 'Poppins';
    font-size: 12px;
  }
  
.checkbox input {
    width: auto;
    margin-right: 10px;
  }
  
  .input-group input[type="submit"] {
    background-color: #9a7cbd;
    border-radius:5px;
    border: none;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.15);
    color: white;
    cursor: pointer;
    width: 120px;
  }
  
  .input-group input[type="submit"]:hover {
    background-color: #9a7cbd;
  }
  .forgot-password a{
    font-family: "Poppins";
    font-size: 12px;
    color: #646262;
  }

  /* register */
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.15);
    border-radius:5px;
  }
  
  .image-container {
    flex: 1 1 33%;
    background-image: url("./images/signupbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 600px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .form-container {
    flex: 2 1 66%;
    padding-left: 20px;
  }
  .form-container h2{
    font-family: "Roboto";
    font-size:26px;
    font-weight: bold;
    color: #464646;
    margin-bottom: 0;
  }
  .form-container p{
    font-family: "Roboto";
    font-size:16px;
    font-weight: 100;
    color: #464646;
    margin-top: 15px;
    margin-bottom: 60px;
  }
  .inline-input {
    display: flex;
    justify-content: space-between;
  }
  
  .inline-input input {
    width: 40%!important;
  }
  form{
    padding: 30px;
    padding-right: 120px;
    display: flex;
    flex-direction: column;
  }
  .form-container  input[type='text'],
  .form-container input[type='email'],
  .form-container input[type='password'] {
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: solid 1px #646262;
  }
  .inline-input input[type='text'],
  .inline-input input[type='email'],
  .inline-input input[type='password']:focus{
    outline: none;
  }
  
  label{
    font-family: "Poppin";
    font-size: 12px;
    font-weight: 600;
    color: #646262;
  }
  
  button[type='submit'] {
    background-color: #9a7cbd;
    border: none;
    color: white;
    width: 120px;
    padding: 10px;
 
    margin-bottom: 20px;
    margin-top: 50px;
  }
  .login-link{
    text-align: center;
    font-size: 14px;
    padding-top: 30px;
    color: #646262;
  }
  .login-link a{
    color: #646262;
  }
/* search form */
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 20px;
}

.search-form label {
  font-size: 20px;
  color: #fff;
  margin-right: 10px;
}

.search-form input {
  width: 400px;
  height: 25px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 10px;
}

.search-form .btn {
  height: 35px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  color: #000;
  margin: 10px;
  width: auto;
}

.search-form .btn:hover {
  background-color: #45a049;
}
/* dashboard */
.dashboard-container {
  display: flex;
  padding: 10% 0;
}

.first-column {
  width: 30%;
  margin: 10px;
  padding: 40px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.15);
  text-align: center;
}
.first-column h2{
  font-family: 'Poppins';
  font-size: 24px;
}
.first-column p{
  font-family: 'Poppins';
  font-size: 14px;
}
.second-column {
  width: 70%;
  margin: 10px;
  padding: 40px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.15);
}

h2 {
  margin-top: 0;
}

img {
  width: 100%;
  max-width: 200px;
}

input[type="file"],
textarea {
  width: 100%;
  margin-bottom: 10px;
}

.edit-profile-form {
  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
}

.tab {
  cursor: pointer;
  margin-right: 10px;
  caret-color: transparent;
}
.tab h3{
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 500;
}

.tab.active {
  color: #000;
  text-decoration: underline 3px;
  text-decoration-color: #9a7cbd;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}
.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
button {
  color: #fff;
  background-color: #9a7cbd;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
.avatar{
  position: relative;
  padding-bottom: 20px;
}
.avatar img{
  border-radius: 50%;
  width: 150px;
  height: auto;
}
.delete-avatar{
  position: absolute;
  right: 63px;
  top: 0px;
}
.delete-avatar img{
  width: 32px;
  height: auto;
}
#upload-description {
  border: solid 1px #9a7cbd;
  border-radius: 5px;
  background-color: #f6ecff;
  margin-top: 20px;
  padding: 4px;
}
.edit-profile h2{
  margin-bottom: 0;
  font-family: "Poppins";
  font-size: 32px;
  font-weight: bold;
}
.edit-profile-form{
  padding: 0;
}
.edit-profile-form input:focus-visible{
  outline: none;
}
.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.row div {
  width: 100%;
  margin-right: 30px;
}
.edit-profile-form input[type="text"], .edit-profile-form input[type="email"], .edit-profile-form input[type="tel"] {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.15);
  height: 32px;
  margin-top: 10px;
}
.facebook{
  position: relative;
}
.facebook::before{
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 11px;
  left: 0px;
  background-image: url("./images/facebook.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.twitter{
  position: relative;
}
.twitter::before{
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 11px;
  left: 0px;
  background-image: url("./images/twitter.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#facebook-username{
  padding-left: 40px;
}
#twitter-username{
  padding-left: 40px;
}
  /* mobile css */
@media(max-width:860px){
    .container{
      padding: 25px;
    }
    .image-container{
      display: none;
    }
    form, .form-container{
      padding: 0;
    }
    .register-sec{
      padding: 0;
    }
    .wp-container-5.wp-container-5, .wp-container-9.wp-container-9, .wp-container-12.wp-container-12 {
      flex-wrap: nowrap;
      padding: 9px;
    }
}